/* to fix the inline editor */
[data-testid="gridContainer"] > [data-testid="ScrollView"] > div {
	height: 100%;
}

/* Custom styles for attachments dropzone */
.attachments-dropzone {
	width: 100%;
	min-width: 0;
	overflow-x: hidden;
}

.attachments-dropzone .files-ui-dropzone-children-container {
	padding: 0 !important;
	width: 100%;
	min-width: 0;
	min-height: 0;
	overflow-x: hidden;
}

/* Custom styles for react18-json-view */
code.json-view {
	max-width: 100%;
	overflow-x: hidden;
}
.json-view--string {
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
}